In [1]:
import pandas as pd

In [2]:
cnames=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATTO','B','LSTAT','MEDV']

In [7]:
data=pd.read_csv(r'C:\Users\Ramesh\Desktop\ML\boston.csv',names=cnames)

In [8]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATTO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
data.shape

(506, 14)

In [10]:
data['MEDV']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [12]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATTO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [13]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [14]:
from sklearn.model_selection import train_test_split

In [30]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=4)

In [31]:
#import algorithm
from sklearn.linear_model import LinearRegression 
model=LinearRegression()

In [32]:
#train algorithm with data
model.fit(xtrain,ytrain)

LinearRegression()

In [33]:
#error check
ypred=model.predict(xtest)

In [34]:
ypred

array([12.07495986, 26.9894969 , 17.58803353, 18.15584511, 36.92091659,
       25.43267386, 31.09256932, 19.72549907, 19.66103377, 22.96358632,
       28.38841214, 28.48925986, 18.99690357, 32.41097504, 21.52350275,
       15.25945122, 21.23364112, 11.6220597 , 11.37109662, 13.63515584,
        5.62431971, 17.35323315, 20.80951594, 22.51311312, 16.39055556,
       20.32352451, 17.88994185, 14.23445109, 21.1187098 , 17.50765806,
       14.54295525, 23.63289896, 34.32419647, 22.23027161, 16.82396516,
       20.16274383, 30.67665825, 35.61882904, 23.50372003, 24.66451121,
       36.91269871, 32.33290254, 19.11785719, 32.19546605, 33.42795148,
       25.52705821, 40.63477427, 18.21762788, 19.34587461, 23.80167377,
       33.42122982, 26.1451108 , 18.10363121, 28.19906437, 13.37486655,
       23.34019279, 24.44952678, 33.54973856, 16.71263275, 36.56402224,
       15.69684554, 18.55447039, 32.14543203, 15.49568061, 39.02363234,
       27.38174402, 31.96333419, 10.09436162, 19.13214621, 21.73038157,
       23.14682001, 22.82615401, 22.51245566, 28.21477189, 17.13262484,
       23.08039019, 16.65978367, 25.17892617, 13.68806399, 19.8195139 ,
       22.31237842, 20.24637447, 28.35989119, 19.12635952, 30.49206633,
       22.25649076, 29.98229473, 19.27750127, 23.73890345, 38.32216452,
       31.24781499, 41.92137782, 18.61466511, 37.47526878, 19.66151941,
       23.44504636, 26.55358092, 22.38454399,  9.59394823, 20.39499251,
        9.22793989, 27.36219976])

In [35]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(ytest,ypred)*100)

336.7790983796574

In [36]:
import math as m

In [38]:
from sklearn.metrics import mean_squared_error
print(m.sqrt(mean_squared_error(ytest,ypred)))

5.041784121402053